# Data Types, Variables, and Operators

In this lesson we will discuss the following types in Python:

- `bool`: boolean values, either True or False; an answer to a yes/no question
- `str` (string) a sequence of characters "strung" together
- `int`: whole, or counting numbers
- `float`: decimal numbers
- `list`: an ordered sequence of objects
- `dict`: a collection of values that have names
- `NoneType`: a special value that indicates absence of a value

You can find the type of any object by calling the `type` function with the object as the argument:

In [1]:
type(1)

int

In [2]:
type(2.0)

float

In [3]:
type('kalapana')

str

In [4]:
# bool type
type(True)

bool

In [5]:
# bool type
type(False)

bool

In [6]:
# ask user for input and store it in variable called name
name = input('Please enter your name: ')

Please enter your name: Kalpana

In [7]:
# what datatype is name?
type(name)

str

In [8]:
# ask user to input age (interger)
age = input('Please enter your age: ')

Please enter your age: 22

In [9]:
# what is the datatype for age? string or int?
type(age)

str

In [10]:
# None datatype (equivalent to NULL in MySQL)

type(None)

NoneType

In [12]:
x = print(5)

5

In [15]:
x is None

True

## Variables

A variable is a way to assign a name to a value. Variables are created by
choosing a valid *identifier* and using the *assignment operator*, `=`.



```python
favorite_number = 42
n = favorite_number + 7
```

Variables can reference themselves when they are assigned or re-assigned. This
can be particularly confusing or look funny to new programmers, but keep in mind
that the `=` operator **does not** mean equal to, it means *assign* to. We would
use `==` to express equality comparison in Python.



```python
x = 1
print(x)
x = x + 1
```

In [16]:
# assign value 5 to variable named x
x = 5

In [17]:
# you can see the memory location of x as integer representation
id(x)

4307196384

In [18]:
# make a new variable and assign it x
y = x

In [19]:
# the memory address of y is same as x meaning they both pointing to same 'object' stored in meory
id(y)

4307196384

## Booleans

There are 2 possible boolean values, `True` or `False`. Booleans can be thought
of as the answer to a yes or no question. For example:

- is a user logged in to a webpage? `is_logged_in`
- does a dataset contain missing values? `has_missing_values`

Boolean values can be compared with the `==` and `!=` operators, which
themselves produce a boolean value.

In [20]:
# assign value of 5 to variable x
x = 5

In [21]:
# is x equal to 2? evaluates to True or False
x == 2

False

In [22]:
# is x not equal to 2? evaluates to True or False

x != 2

True

In [24]:
x <= 4

False

In [25]:
# is string 'A' less than 'Z' (It actually compared the unicode integer values to compare strings)
'A' > 'a'

False

In [26]:
'kalpana' > 'kblpana'

False

In [27]:
# AND operator will return True only if both expressions are True
True and True

True

In [28]:
# AND operator will return True only if both expressions are True
True and False

False

In [29]:
# Or operatory. Only one expression needs to be True to return True
True or False

True

In [30]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

## Numbers

Python has two main types that represent numbers, `int` and `float`. The
difference being that `int`s cannot have decimal places in them, while `float`s
can.

You can perform arithmetic with numbers with the following operators:

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |

In [31]:
x = 2
y = 5

In [32]:
# division operator /
y / x

2.5

In [33]:
# floor division. Returns the 'quotient'
y // x

2

In [34]:
# Modulus operator. Returns the remainder. E.g. returns Zero if even number is divided by 2
4 % 2

0

In [35]:
# Modulus operator. Returns the remainder. E.g. returns 1 if even number is divided by 2
5 % 2

1

In [36]:
# exponentiate using **
2 ** 3

8

## Strings

Strings are used to represent arbitrary text. The following values are strings:



```python
'hello there!'
''
'123'
"here is a number: 42. It's a nice number"

```




    "here is a number: 42. It's a nice number"

In [37]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [38]:
# compare strings to return True or False
'a' == 'a'

True

In [40]:
# check the case!
'kalpana' == 'Kalpana'

False

In [41]:
# concat two strings using '+' signs
'a' + 'a'

'aa'

In [42]:
# can we add a string and interger?
'a' + 2

TypeError: can only concatenate str (not "int") to str

In [43]:
# can we multiply a string with int?
'a' * 5

'aaaaa'

In [46]:
# what about this?
'kalpana_' * 5

'kalpana_kalpana_kalpana_kalpana_kalpana_'

#### String Operations
Strings can be compared with the `==` and `!=` operators. String can be
*concatenated*, i.e. put together, with the `+` operator. A String can be
repeated with the `*` operator and a number.

### String Formatting

It is very common that a string needs to contain the contents of a variable.
There are several different ways to include variables in strings.

- `%` formatting: a little older, but still fairly common
- `.format`: a newer way to format strings
- f-strings: introduced in python 3.6; comparable to string interpolation in other languages

We'll take a look at some examples of each:

In [47]:
greeting = 'Hello'
name = 'Kalpana'

In [48]:
# Try to concat two strings using + sign
greeting + name

'HelloKalpana'

In [49]:
# add space to separate two characters.
greeting + ' ' + name

'Hello Kalpana'

In [50]:
# This can become pretty awkward pretty quick. Is there a better method
greeting + ' ' + name + '!!'

'Hello Kalpana!!'

In [51]:
# Old method of string formatting
'%s %s!' % (greeting, name)

'Hello Kalpana!'

In [52]:
# .format method 
'{} {}!!!'.format(greeting, name)

'Hello Kalpana!!!'

In [53]:
# f-strings - latest and greatest method
f'{greeting} {name}!!!!'

'Hello Kalpana!!!!'

In [54]:
num = 5
i = 4

In [55]:
# example of using f strings. You can write valid python expressions in 
print(f'{num} * {i} = {num * i}')

5 * 4 = 20

### String Methods

String objects have a bunch of useful methods that can be used to perform common
text manipulation tasks. We will take a look at the most common ones here:

- `.lower` and `.upper`: convert the string to all lower or upper case
- `.strip`: remove any leading and trailing whitespace from the string
- `.isdigit`: test whether or not the string is a number
- `.split`: convert a string to a list
- `.join`: convert a list to a string

!!!warning "String Methods"
    All of the string methods here **do not** modify the original string, they
    return a new string with the modification.

In [56]:
name = 'Kalpana'

In [59]:
# case sensitive
'kalpana' == 'KALPANA'

False

In [57]:
# these all represnets same person
'kalpana', 'KALPANA', 'KAlpana'

('kalpana', 'KALPANA', 'KAlpana')

In [60]:
# .lower converts the string to lower case
name.lower()

'kalpana'

In [61]:
# .upper converts the string to lower case
name.upper()

'KALPANA'

In [64]:
# these two are not same
' kalpana ' == 'kalpana'

False

In [67]:
name = ' Kal pana '

In [69]:
# .strip removes white spaces before and after a string
name.strip()

'Kal pana'

In [73]:
# you can chain together different methods:
name.strip().upper().lower().upper()

'KAL PANA'

In [75]:
# is digits tell you is a string consists of digits only

'123'.isdigit()

True

In [77]:
# this method checks if string contains only alpha-numeric characters
'123 abc'.isalnum()

False

In [88]:
name = 'Today is Thursday'

In [188]:
# split a string on specifed charcter (in this case on space character)
name.split(' ')

['Today', 'is', 'Thursday']

In [90]:
# join back strings from a list to single string 
' '.join(name.split(' '))

'Today is Thursday'

### List

In [91]:
# here is a list
x = [1,2,3, 5, 9, 10, 12]

In [93]:
# return first element fromt he list x
x[0]

1

In [95]:
# this returns the last element from the list x
x[-1]

12

In [96]:
# slice using this notation,non-inclusive for the stop index values
x[0:3]

[1, 2, 3]

In [97]:
# returns all elements starting with index of 2
x[2:]

[3, 5, 9, 10, 12]

In [98]:
# returns all the elemets from the begining till desired index value (non-inclusive)
x[:7]

[1, 2, 3, 5, 9, 10, 12]

In [99]:
# here is another list
x = [1,2,5,3, 19, 15]

In [100]:
# sort the list
x.sort()

In [101]:
x

[1, 2, 3, 5, 15, 19]

In [102]:
# insert a new element (-2) at position 0
x.insert(0, -2)

In [103]:
x

[-2, 1, 2, 3, 5, 15, 19]

In [105]:
# append the value at the end of the list
x.append(11)

In [106]:
x

[-2, 1, 2, 3, 5, 15, 19, 11]

In [107]:
# append a list to the existing list
x.append(['a', 'b', 'c'])

In [108]:
# not that now we have a nested list
x

[-2, 1, 2, 3, 5, 15, 19, 11, ['a', 'b', 'c']]

In [109]:
# check the last element of the list
x[-1]

['a', 'b', 'c']

In [111]:
# .pop method - removes the specified element from the list (default is last elemen)

x.pop()

['a', 'b', 'c']

In [112]:
# list x with last element removed
x

[-2, 1, 2, 3, 5, 15, 19, 11]

In [113]:
# combines two list into a single unnested list (flattened list)
x.extend(['a', 'b', 'c'])

In [114]:
#here is the unnested list
x

[-2, 1, 2, 3, 5, 15, 19, 11, 'a', 'b', 'c']

In [130]:
# convert the string into a list of characters in the string
list('kalpana')

['k', 'a', 'l', 'p', 'a', 'n', 'a']

In [132]:
# loop through each charcater and print out character only if it is a vowel
for element in list('kAlpana'):
    if element.lower() in ('a', 'e', 'i', 'o', 'u'):
        print(element)

A
a
a

### List Comprehensions

In [142]:
# here is a list
numbers = [1,2,4,6, 7, 9, 10]

In [143]:
# return a new list with same elements as original list(numbers)
[num for num in numbers]

[1, 2, 4, 6, 7, 9, 10]

In [144]:
# return a new list with number 2 added
[num + 2 for num in numbers]

[3, 4, 6, 8, 9, 11, 12]

In [145]:
# return a list by squaring each num 
[num ** 2 for num in numbers]

[1, 4, 16, 36, 49, 81, 100]

In [146]:
# return a list by squaring each num if the num is even
[num ** 2 for num in numbers if num % 2 == 0]

[4, 16, 36, 100]

In [147]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

In [151]:
[fruit.capitalize() for fruit in fruits]

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

## Tuples

Tuples are like lists, except that they are *immutable*, meaning they cannot be
changed. Once a tuple is created, it's length is fixed, and no more items can be
added to it or removed from it.


Generally speaking, tuples are used when the elements are of different types, and lists are used when the elements are all of the same type. Lists are generally much more common, although you will see tuples in some places.

In [152]:
# here is a tuple
x = ('c','d','b')

In [154]:
# you can access the elements in tuple in same way as you do for a list
x[-1]

'b'

In [155]:
# can I change the tuple by assigning new value a element? no tuples are immuatable
x[0] = 'z'

TypeError: 'tuple' object does not support item assignment

In [157]:
# you can loop through the tuples in same way as you loop through a list
for char in x:
    print(char.upper())

C
D
B

## Dictionaries

Dictionaries are a way to group values together and give a name to each value.
The names for the values in a dictionary are sometimes called *keys*. It is
common to refer to a dictionary as a group of *key-value pairs*.

Dictionaries can be created by writing a *dictionary literal*, which is
delimeted with curly braces, and the keys are separated from the values with a
colon, and key-value pairs are separated by commas.

In [158]:
# here is a dict with some key-value pair
student = {'name': 'kalpana', 'age': 26, 'pet': 'cat'}

In [159]:
# how do i access value with key 'name'
student['name']

'kalpana'

In [160]:
# how do i access value with key 'pet'

student['pet']

'cat'

In [161]:
# You can update dictionary

student['age'] = 25

In [162]:
student

{'name': 'kalpana', 'age': 25, 'pet': 'cat'}

In [164]:
# you can add a new key-value pair
student['color'] = 'red'

In [165]:
student

{'name': 'kalpana', 'age': 25, 'pet': 'cat', 'color': 'red'}

In [166]:
# update add new key-values pair or update existing info
student.update({'age': 27, 'car': 'tesla'})

In [167]:
student

{'name': 'kalpana', 'age': 27, 'pet': 'cat', 'color': 'red', 'car': 'tesla'}

In [168]:
# delete a key-value pair
del student['car']

In [169]:
student

{'name': 'kalpana', 'age': 27, 'pet': 'cat', 'color': 'red'}

In [170]:
# when you loop through dict in regular way, you are just looping through the keys
for element in student:
    print(element)

name
age
pet
color

In [174]:
# grab keys for the dictionary
student.keys()

dict_keys(['name', 'age', 'pet', 'color'])

In [175]:
# grab values from the dict:
student.values()

dict_values(['kalpana', 27, 'cat', 'red'])

In [176]:
# returns both keys and values
student.items()

dict_items([('name', 'kalpana'), ('age', 27), ('pet', 'cat'), ('color', 'red')])

In [178]:
# loop through each key-value pair using .items()
for key, value in student.items():
    print(key.upper(), value)

NAME kalpana
AGE 27
PET cat
COLOR red

In [180]:
# can dict hold multiple values for a key? yes!
student.update({'color': ['red', 'black']})

In [181]:
#here the student has a list a values for key 'color'
student

{'name': 'kalpana', 'age': 27, 'pet': 'cat', 'color': ['red', 'black']}

In [184]:
# how do I access the elements of dict
student['color'][-1]

'black'