# Data Types, Variables, and Operators

In this lesson we will discuss the following types in Python:

- `bool`: boolean values, either True or False; an answer to a yes/no question
- `str` (string) a sequence of characters "strung" together
- `int`: whole, or counting numbers
- `float`: decimal numbers
- `list`: an ordered sequence of objects
- `dict`: a collection of values that have names
- `NoneType`: a special value that indicates absence of a value

You can find the type of any object by calling the `type` function with the object as the argument:

In [6]:
type(1)

int

In [7]:
type(2.0)

float

In [8]:
type('kalapana')

str

In [9]:
type(True)

bool

In [10]:
type(False)

bool

In [12]:
name = input('Please enter your name: ')

Please enter your name: Ravinder

In [14]:
type(name)

str

In [15]:
age = input('Please enter your age: ')

Please enter your age: 22

In [17]:
type(age)

str

## Variables

A variable is a way to assign a name to a value. Variables are created by
choosing a valid *identifier* and using the *assignment operator*, `=`.



```python
favorite_number = 42
n = favorite_number + 7
```

Variables can reference themselves when they are assigned or re-assigned. This
can be particularly confusing or look funny to new programmers, but keep in mind
that the `=` operator **does not** mean equal to, it means *assign* to. We would
use `==` to express equality comparison in Python.



```python
x = 1
print(x)
x = x + 1
```

In [18]:
x = 5

In [19]:
id(x)

4374845920

In [20]:
y = x

In [21]:
id(y)

4374845920

In [25]:
ages = [1,2,3,4,5,11,22]

In [26]:
ages.append(2)

In [27]:
ages

[1, 2, 3, 4, 5, 11, 22, 2]

In [28]:
id(ages)

140462232257088

## Booleans

There are 2 possible boolean values, `True` or `False`. Booleans can be thought
of as the answer to a yes or no question. For example:

- is a user logged in to a webpage? `is_logged_in`
- does a dataset contain missing values? `has_missing_values`

Boolean values can be compared with the `==` and `!=` operators, which
themselves produce a boolean value.

In [29]:
x == 2

False

In [30]:
x != 2

True

In [33]:
'A' < 'Z'

True

In [35]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [36]:
True and True

True

In [37]:
True and False

False

In [38]:
True or False

True

## Numbers

Python has two main types that represent numbers, `int` and `float`. The
difference being that `int`s cannot have decimal places in them, while `float`s
can.

You can perform arithmetic with numbers with the following operators:

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |

In [40]:
x = 2
y = 5

In [41]:
y / x

2.5

In [42]:
y // x

2

In [43]:
y % 2

1

In [47]:
5 % 2

1

In [48]:
2 ** 3

8

## Strings

Strings are used to represent arbitrary text. The following values are strings:



```python
'hello there!'
''
'123'
"here is a number: 42. It's a nice number"

```




    "here is a number: 42. It's a nice number"

In [49]:
'a' == 'a'

True

In [51]:
'ravinder' == 'Ravinder'

False

In [52]:
'a' + 'a'

'aa'

In [53]:
'a' + 2

TypeError: can only concatenate str (not "int") to str

In [54]:
'a' * 5

'aaaaa'

In [55]:
'kalpana' * 5

'kalpanakalpanakalpanakalpanakalpana'

#### String Operations
Strings can be compared with the `==` and `!=` operators. String can be
*concatenated*, i.e. put together, with the `+` operator. A String can be
repeated with the `*` operator and a number.

### String Formatting

It is very common that a string needs to contain the contents of a variable.
There are several different ways to include variables in strings.

- `%` formatting: a little older, but still fairly common
- `.format`: a newer way to format strings
- f-strings: introduced in python 3.6; comparable to string interpolation in other languages

We'll take a look at some examples of each:

In [56]:
greeting = 'Hello'
name = 'Kalpana'

In [57]:
greeting + name

'HelloKalpana'

In [58]:
greeting + ' ' + name

'Hello Kalpana'

In [59]:
greeting + ' ' + name + '!!'

'Hello Kalpana!!'

In [62]:
'%s %s' % (greeting, name)

'Hello Kalpana'

In [63]:
'{} {}!!!'.format(greeting, name)

'Hello Kalpana!!!'

In [65]:
f'{greeting} {name}!!!!'

'Hello Kalpana!!!!'

In [66]:
num = 5
i = 4

In [68]:
print(f'{num} * {i} = {num * i}')

5 * 4 = 20

### String Methods

String objects have a bunch of useful methods that can be used to perform common
text manipulation tasks. We will take a look at the most common ones here:

- `.lower` and `.upper`: convert the string to all lower or upper case
- `.strip`: remove any leading and trailing whitespace from the string
- `.isdigit`: test whether or not the string is a number
- `.split`: convert a string to a list
- `.join`: convert a list to a string

!!!warning "String Methods"
    All of the string methods here **do not** modify the original string, they
    return a new string with the modification.

### List

In [271]:
# list slicing and indexing
# sort a list
# insert, append and extend the list
# pop or remove
# numeric functions
# make list using range function
# list from string
# map function

In [338]:
x = [1, 2, 4, 5, 10, 4, 1]

### List Comprehensions

In [32]:
[x for x in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [322]:
fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

create a variable named capitalized_fruits and use list comprehension syntax to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

## Tuples

Tuples are like lists, except that they are *immutable*, meaning they cannot be
changed. Once a tuple is created, it's length is fixed, and no more items can be
added to it or removed from it.


Generally speaking, tuples are used when the elements are of different types, and lists are used when the elements are all of the same type. Lists are generally much more common, although you will see tuples in some places.

In [69]:
x = (2,4,'b')

## Dictionaries

Dictionaries are a way to group values together and give a name to each value.
The names for the values in a dictionary are sometimes called *keys*. It is
common to refer to a dictionary as a group of *key-value pairs*.

Dictionaries can be created by writing a *dictionary literal*, which is
delimeted with curly braces, and the keys are separated from the values with a
colon, and key-value pairs are separated by commas.

In [ ]:
## indexing
## keys, values and items
## update